
nav
{

    background-color: grey;
    color: white;
    height: 50px;
}

a{
    color: white !important;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:yellow;
    }

    .searchbar .search_icon{
    background: #212529;
    color: yellow;
    text-decoration: none;
    }

    .loading_icon
    {
        color: lightgreen;
        text-decoration: none;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    border-left: 1px solid white;
    }